//main: ../main.scss

// -----------------------------------------------------------------------------
// This file contains styles that are specific to the cart page.
// -----------------------------------------------------------------------------

.woocommerce-cart.woocommerce-page .page-default {
    .content {
        .wrapper * + * {
            padding: 9px 12px;
        }

        .wrapper {
            .woocommerce {
                margin-bottom: 0;

                // .woocommerce-cart-form *:empty {
                //     display: none;
                // }
                
                .woocommerce-cart-form,
                .cart-collaterals,
                .wc-proceed-to-checkout {
                    padding: 0;
                }

                .wc-proceed-to-checkout {
                    margin-bottom: 0;
                }

                .wc-proceed-to-checkout a {
                    margin: 5px 0 0;
                }
            }
        }

        .woocommerce-notices-wrapper {
            background-color: #f7f6f7;

            &:empty {
                display: none;
            }
        }

        .woocommerce-message,
        .woocommerce-info,
        .woocommerce-error {
            // @extend .container;
            // @extend .container-narrow;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 15px 15px 15px 40px;
            margin: 0 auto;
            line-height: 1.2;
            font-size: 16px;
            border: 0;

            &::before {
                top: auto;
                left: 12px;
            }

            .button {
                order: 2;
                margin-left: 15px;
                white-space: nowrap;
                font-family: $font-urbane-light;
                font-weight: 400;
                letter-spacing: 0;
                font-size: 14px;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                background-color: $brand-color;
                border-radius: 0;

                &:hover {
                    background-color: $secondary-color;
                }
            }
        }

        .woocommerce-message + .cart-empty {
            border-top: 5px solid #fcfcfc;
        }

        .woocommerce-message .restore-item {
            margin-left: auto;
            margin-bottom: auto;
        }
    }

    li, p {
        font-size: 16px;
    }

    h2 {
        font-family: $font-urbane-light;
        font-size: 28px;
        text-transform: uppercase;
    }

    form {
        * {
            margin-bottom: initial;
        }
    }

    .shop_table {
        font-size: 16px;

        .button {
            padding: 12px 20px;
            margin-bottom: 0 !important;
            font-family: $font-urbane-light;
            font-weight: 400;
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $brand-color;
            border-radius: 0;
            transition: all .35s ease-in-out;

            &:hover {
                color: #fff;
                background-color: $secondary-color;
            }
        }
    }

    .cart_item {
        a {
            text-decoration: none;
        }

        .remove {
            position: relative;
            top: 0;
            line-height: 22px;
            color: #b81c23 !important;
            opacity: .7;

            &:hover {
                color: #b81c23 !important;
                background: transparent;
                opacity: 1;
            }
        }

        .quantity {
            line-height: 1;

            .input-text {
                height: 32px;
                font-size: 16px;
                color: $text-color;
                box-shadow: none;
                border: 1px solid #e5e5e5;
                border-radius: 0;
                outline: none;

                :focus-visible {
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }

    .coupon {
        margin-bottom: 0 !important;

        #coupon_code {
            width: 170px;
            height: 38px;
            padding: 6px 8px;
            font-size: 16px;
            font-weight: 900;
        }
    }

    .cart_totals {
        width: 50%;
        margin-bottom: 0;

        .order-total .woocommerce-Price-amount {
            font-family: $font-urbane-light;
            font-size: 20px;
        }

        .checkout-button {
            padding: 15px 20px;
            font-family: $font-urbane-light;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            text-transform: uppercase;
            text-decoration: none;
            background-color: $brand-color;
            box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
            border-radius: 0;
            transition: all .35s ease-in-out;

            &:hover {
                background-color: $secondary-color;
            }
        }

        .shop_table {
            padding: 0;

            #shipping_method {
                * {
                    padding: 0;
                }

                & + * {
                    padding: 0;
                }

                & + .woocommerce-shipping-destination {
                    padding-top: 7px;
                }
            }

            form.woocommerce-shipping-calculator {
                padding: 0;
                margin-bottom: 0;

                [name=calc_shipping] {
                    margin-bottom: 5px !important;
                }
            }
        }
    }

    .cart-collaterals {
        margin-bottom: 0;

        & > div:not(.cart_totals) {
            display: none !important;
        }
    }

    .woocommerce-shipping-totals {
        .woocommerce-shipping-methods li {
            display: flex;
            align-items: center;
            margin: 0 !important;

            & + * {
                padding: 0;
            }

            label {
                cursor: pointer;
                margin-bottom: 0;
            }

            input {
                margin-top: 0 !important;
                cursor: pointer;
            }
        }
    }

    .devnet_fsl-free-shipping {
        padding: 20px 25px !important;
        margin: 0 0 20px !important;

        * {
            padding: 0 !important;
        }

        .fsl-title.title {
            margin: 0 !important;
            font-family: $font-urbane-light;
            font-size: 16px;
        }

        .fsl-progress-bar {
            margin: 10px 0 !important;
        }

        .fsl-notice.notice {
            padding-top: 10px !important;
            margin-top: 10px;
            margin-bottom: 0;
            font-family: $font-urbane-light;
            font-size: 16px;
            border-top: 2px solid $brand-color;
        }
    }

    .return-to-shop a {
        @extend .btn-green-outline;
        text-decoration: none;
        // padding: 10px 15px;
        // font-size: 16px;
        // color: #fff;
        // text-decoration: none;
        // background-color: $secondary-color;
        // border-radius: 0;

        &:hover {
            color: #fff;
            background-color: $brand-color;
        }
    }

    @media (max-width: 1199px) {
        h2 {
            font-size: 26px;
        }

        .cart_totals {
            width: 55%;
        }
    }

    @media (max-width: 991px) {
        .shop_table {
            font-size: 16px;

            th, td {
                font-size: 16px;
            }
        }

        // .cart_totals .order-total .woocommerce-Price-amount {
        //     font-size: 20px;
        // }
    }

    @media (max-width: 767px) {
        .content {
            .woocommerce-message {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                .restore-item {
                    margin-top: 10px;
                    margin-left: 0;
                }
            }

            .wrapper .section-title {
                margin-bottom: 0;
            }
        }

        h2 {
            font-size: 24px;
        }

        .shop_table {
            &.woocommerce-cart-form__contents tbody tr:last-child {
                padding: 0;
            }

            .woocommerce-shipping-totals,
            .order-total {
                padding: 0;
            }

            tr, th, td {
                margin-bottom: 0;
                font-size: 16px;
            }
        }

        .cart_item {
            .remove {
                position: initial;
                top: initial;
                opacity: 1;
            }

            .quantity .input-text {
                height: auto;
                padding: 4px 8px;
            }
        }

        .coupon {
            #coupon_code {
                width: 48%;
            }
        }

        .cart_totals {
            width: 100%;
            margin-top: 10px;

            .order-total .woocommerce-Price-amount {
                font-size: 18px;
            }

            .wc-proceed-to-checkout {
                padding: 5px 0 0;
            }

            .checkout-button {
                padding: 14px 15px;
                font-size: 16px;
            }
        }

        .woocommerce-shipping-totals td {
            .woocommerce-shipping-methods li {
                justify-content: end;
                margin: 0 !important;

                label {
                    font-size: 16px;
                    line-height: 24px;
                }
            }

            .woocommerce-shipping-destination {
                max-width: 75%;
                margin-left: auto;
                font-size: 16px;
                line-height: 20px;
            }
        }

        .devnet_fsl-free-shipping {
            padding: 15px 20px!important;
            margin-top: 10px !important;

            .fsl-title.title,
            .fsl-notice.notice {
                font-size: 16px;
                line-height: 20px;
            }
        }
    }

    @media (max-width: 575px) {
        .shop_table {
            .button {
                padding: 13px 7px;
                font-size: 13px;
            }
        }
    }
}

.woocommerce-cart .page-default {
    .woocommerce-notices-wrapper,
    .woocommerce-notices-wrapper .woocommerce-info {
        display: none;
    }

    .restricted-message-wrapper {
        display: none !important;
        float: right;
        width: 53%;
        padding: 0 !important;
        margin-top: 10px;
    }

    .restricted-message {
        width: 94%;
        margin-left: auto;
        padding: 15px;
        color: #fff;
        font-size: 15px !important;
        background: #d5a940;
    }

    @media (max-width: 1199px) {
        .restricted-message-wrapper {
            width: 55%;
        }

        .restricted-message {
            width: 100%;
        }
    }

    @media (max-width: 767px) {
        .restricted-message-wrapper {
            float: none;
            width: 100%;
            margin-top: 15px;
        }
        
        .restricted-message {
            width: 100%;
        }
    }
}

.restricted-zone.woocommerce-cart .page-default {
    .woocommerce-notices-wrapper,
    .woocommerce-shipping-methods,
    .woocommerce-shipping-destination,
    .order-total,
    .wc-proceed-to-checkout {
        display: none !important;
    }

    .woocommerce .cart-collaterals .restricted-message-wrapper,
    .woocommerce .cart-collaterals .restricted-message {
        display: block !important;
    }
}